--readme README.md
--title 'NattyUI Documentation'
--charset utf-8
--markup markdown
--tag comment
--hide-tag comment
--embed-mixins
--exclude lib/natty-ui/ansi_wrapper.rb
'lib/**/*.rb' - 'README.md' 'LICENSE'
